



.employee-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-field label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

.form-field input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border 0.2s, box-shadow 0.2s;
}


.form-field input:focus {
  border-color: #2196f3;
  box-shadow: 0 0 4px rgba(33, 150, 243, 0.4);
  outline: none;
}

.error{
   color: red;
   font-size: 12px;
   margin-top: 5px;
}

.error-border{
    border: 1px solid red !important;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.4) !important;
    outline: none !important;
}


.groups{
    padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 10px;

}