.tooltip-host div {
	position: absolute;
 top: 100%;
 left: 0;
 	padding: 6px 8px;
    	margin-top: 6px;
	/*
	
	background: #fff;
	border: 1px solid #1976d2;
	color: #1976d2;
	padding: 6px 8px;
	border-radius: 4px;
	margin-top: 6px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.08);
	white-space: nowrap;
	z-index: 10; */
}
