

<table class="user-table">
    <thead>
        <tr>
            <th *ngFor="let head of headers">{{ head.head }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of GridArray">
            <td *ngFor="let key of headers">
                <ng-container *ngIf="key.fieldName !== ''">{{ data[key.fieldName] }}</ng-container>
                <ng-container *ngIf="key.fieldName === ''">
                    <button (click)="Edit.emit(data)">edit</button>
                    <button (click)="Delete.emit(data)">delete</button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>



<!-- 
<table class="user-table">
    <thead>
        <tr>
            <th >Name</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let data of userlist">
            <td>{{data.name}}</td><td>{{data.email}}</td>
        </tr>
    </tbody>
</table> -->