<div class="container mt-4">

  <h2 class="fw-bold">Record New Attempt</h2>

  <label class="form-label mt-3">Select Mode</label>
  <select class="form-select w-50" [(ngModel)]="mode">
    <option value="audio">Audio</option>
    <option value="video">Video</option>
  </select>

  <div class="mt-3">
    <button class="btn btn-danger me-2"
            (click)="startRecording()"
            [disabled]="isRecording">
      Start Recording
    </button>

    <button class="btn btn-secondary"
            (click)="stopRecording()"
            [disabled]="!isRecording">
      Stop
    </button>
  </div>

  <div *ngIf="previewUrl" class="mt-4">

    <audio *ngIf="mode === 'audio'" controls [src]="previewUrl"></audio>

    <video *ngIf="mode === 'video'" width="300" controls [src]="previewUrl"></video>

    <button class="btn btn-success mt-3" (click)="save()">Save Attempt</button>
  </div>

</div>
