<!-- <app-counter></app-counter> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/counter-input-output"
            >counter-input-output</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ngrx-counter">ngrx-counter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ngrx-course">course</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Practice Session
          </a>

          <ul class="dropdown-menu">
            <!-- Add your practice topics here -->
            <li>
              <a class="dropdown-item" routerLink="/practice-session/debouncing"
                >Debouncing</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/practice-session/accordion"
                >Accordion</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/practice-session/dropdown"
                >DropDown</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/practice-session/ngclass"
                >ng class</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/practice-session/enum-colors"
                >enum colours</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/practice-session/accordian-basic"
                >accordian-basic</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/practice-session/tool-tip"
                >tool-tip</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/templateform"
                >templateForm</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/reactiveform"
                >reactive form</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/ParentFormComponent"
                >dynamic table</a
              >
            </li>

            <li>
              <a class="dropdown-item" routerLink="practice-session/Pagination"
                >Pagination</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="practice-session/Ecommerce"
                >Ecommerce</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/family-reactive"
                >reactive form</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/reactiveform-machine-test"
                >reactive form machine test 1</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/reactiveform-machine-test-level2"
                >reactive form machine test level 2</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/reactiveform-machine-test-level3"
                >reactive form machine test level 3 form array</a
              >
            </li>
           <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/module6-preloading"
                >profiling performance</a
              >
            </li>

           

                      <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/bootstrap-brushup"
                >bootstrap brushup</a
              >
            </li>

                                  <li>
              <a
                class="dropdown-item"
                routerLink="practice-session/employee-management"
                >employee</a
              >
            </li>

            <!-- You can keep adding as you practice -->
          </ul>
        </li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Routing
  </a>

  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" routerLink="practice-session/routing-module1">Module 1</a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="practice-session/routing-module2-router-activatedrouter">Module 2  router -activatedrouter</a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="practice-session/routing-module3-guards">Module 3 Guards</a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="practice-session/routing-module4-auth">Module 4 Auth</a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="practice-session/module5-ssr">Module 5 SSR</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/recorder">Recorder</a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="/angular-module1-revision">Angular Module 1 Revision</a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="/angular-ng-afterviewinit">Afterviewinit</a>
</li>


        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <!-- Right aligned links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
