

<div class="d-flex justify-content-center p-3">
  <button
    class="btn btn-primary d-flex align-items-center"
    (click)="onToggle()">
    Toggle Input {{ (showinput$ | async) ? '-' : '+' }}
  </button>
</div>

@if (showinput$ | async) {
<div class="cust-input d-flex align-items-center gap-2 p-3 bg-light rounded shadow-sm" >
      <input
        type="text"
        class="form-control w-auto"
        [(ngModel)]="name"
        placeholder="Enter your name"
      />
      <button (click)="increment()" class="btn btn-success">
        Increment by
      </button>
    </div>
  }